In [7]:
import pandas as pd

In [8]:
import requests
import json
from yelp.client import Client
import time

In [9]:
# jonathan keys
client_id = 'E1AQMelCA8e5oZKc-yWfhg'

key= '43p9tSwkbBOVCEUsTURSCAQOXKzbiPIa5r0fTt3cKZT6W2zSXaT3nGQV4MUgu6EPQHKvPeqbio9N6sUMM3Ycug_3xphoP48sFtUf9wx-JdAWLPzGhZZP2c4hTF8SXXYx'

In [10]:
term = 'Vegan' 
location = 'NYC' 
SEARCH_LIMIT = 10

url = 'https://api.yelp.com/v3/businesses/search'

headers = {
        'Authorization': 'Bearer {}'.format(key),
    }

url_params = {
                'term': term.replace(' ', '+'),
                'location': location.replace(' ', '+'),
                'limit': SEARCH_LIMIT
            }
response = requests.get(url, headers=headers, params=url_params)

In [11]:
def yelp_call(url_params, key):
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer {}'.format(key)}
    response = requests.get(url, headers=headers, params=url_params)
    # put a loop here and return
    
    df = pd.DataFrame(response.json()['businesses'])
    return df

def all_results(url_params, key):
    num = response.json()['total']
    print('{} total matches found.'.format(num))
    cur = 0
    dfs = []
    while cur < num and cur < 700:
        url_params['offset'] = cur
        dfs.append(yelp_call(url_params, key)) # change for a df
        time.sleep(1) #Wait a second
        cur += 50
    df = pd.concat(dfs, ignore_index=True)
    return df

term = 'vegan'
location = 'NY'
url_params = {  'term': term.replace(' ', '+'),
                'location': location.replace(' ', '+'),
                'limit' : 50,
                 'radius' : 20000
             }
df = all_results(url_params, key)

9800 total matches found.

In [53]:
df.to_csv('veganNY')

In [70]:
# read the file 
df_ny_vegan = pd.read_csv('veganNY')

In [65]:
type(df_1)

pandas.core.frame.DataFrame

In [61]:
# df_vegan_ny = pd.DataFrame()

In [69]:
# df_1.head()

In [71]:
df_ny_vegan = df_ny_vegan[['name','price', 'rating','review_count', 'transactions']]

In [72]:
df_ny_vegan.head()

,name,price,rating,review_count,transactions
0,Jajaja,$$,4.5,717,"['pickup', 'restaurant_reservation', 'delivery']"
1,Seasoned Vegan,$$,4.0,1053,"['pickup', 'delivery']"
2,by CHLOE. West Village,$$,4.0,1598,"['pickup', 'delivery']"
3,XYST,$$,4.0,241,['restaurant_reservation']
4,Urban Vegan Kitchen,$$,4.0,354,"['pickup', 'delivery']"

In [74]:
df_ny_vegan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 5 columns):
name            700 non-null object
price           575 non-null object
rating          700 non-null float64
review_count    700 non-null int64
transactions    700 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 27.4+ KB

In [77]:
# cheking for null values
df_ny_vegan.isnull().sum()

name              0
price           125
rating            0
review_count      0
transactions      0
dtype: int64

In [76]:
# checking the the values in price 
df_ny_vegan.price.value_counts()

$$      450
$       103
$$$      19
$$$$      3
Name: price, dtype: int64

In [79]:
# ax = df_ny_vegan.price.plot.box()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

df.price = df.price.fillna(value=0)
price_dict = {"$": 1, "$$":2, "$$$": 3, "$$$$":4}
df.price = df.price.map(price_dict)

pd.plotting.scatter_matrix(df[['price', 'rating', 'review_count']])

In [ ]:
ax = df_ny_vegan.price.plot.box()

In [ ]:
df_ny_vegan.price = df_ny_vegan.price.replace()

In [44]:
df_vegan_NY_csv = pd.read_csv('veganNY', sep='delimiter', header= 0 ,error_bad_lines=False)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [45]:
df_vegan_NY_csv

    ,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url
0    0,jajaja-new-york,"[{'alias': 'mexican', 'titl...
1    1,seasoned-vegan-new-york-2,"[{'alias': 'vegan...
2    2,by-chloe-west-village-new-york,"[{'alias': '...
3    3,xyst-new-york-2,"[{'alias': 'vegan', 'title'...
4    4,urban-vegan-kitchen-new-york,"[{'alias': 'so...
5    5,champs-diner-brooklyn,"[{'alias': 'vegan', '...
6    6,greedi-vegan-brooklyn-3,"[{'alias': 'vegan',...
7    7,spring-cafe-new-york,"[{'alias': 'vegan', 't...
8    8,le-botaniste-new-york-4,"[{'alias': 'vegetar...
9    9,happy-zoe-vegan-bakery-brooklyn,"[{'alias': ...
10   10,original-buddha-bodai-kosher-vegetarian-res...
11   11,dirt-candy-new-york-2,"[{'alias': 'vegetari...
12   12,supernatural-new-york,"[{'alias': 'vegan', ...
13   13,le-botaniste-new-york-5,"[{'alias': 'vegan'...
14   14,by-chloe-flatiron-new-york-2,"[{'alias': 'v...
15   15,double-zero-new-york,"[{'alias': 'pizza', '...
16   16,bar-verde-new-york,"[{'alias': 'mexican', '...
17   17,honeybee-s-new-york,"[{'alias': 'vegan', 't...
18   18,peacefood-cafe-new-york-5,"[{'alias': 'vega...
19   19,artistic-pizza-new-york,"[{'alias': 'pizza'...
20   20,spicy-moon-new-york,"[{'alias': 'szechuan',...
21   21,the-cinnamon-snail-new-york-7,"[{'alias': '...
22   22,divyas-kitchen-new-york,"[{'alias': 'vegan'...
23   23,vegan-love-new-york-2,"[{'alias': 'vegan', ...
24   24,orchard-grocer-new-york,"[{'alias': 'delis'...
25   25,pure-ktchn-new-york,"[{'alias': 'salad', 't...
26   26,toad-style-bedford-stuyvesant,"[{'alias': '...
27   27,mthr-vegan-new-york-2,"[{'alias': 'vegan', ...
28   28,peacefood-cafe-downtown-new-york,"[{'alias'...
29   29,sacred-chow-new-york,"[{'alias': 'vegetaria...
..                                                 ...
670  670,gentleman-farmer-fort-greene-brooklyn-2,"[...
671  671,the-blue-light-speak-cheesy-fullerton-3,"[...
672  672,dr-smood-new-york-9,"[{'alias': 'cafes', '...
673  673,mamouns-falafel-new-york-2,"[{'alias': 'mi...
674  674,the-shady-lady-astoria,"[{'alias': 'newame...
675  675,spice-kitchen-maspeth,"[{'alias': 'indpak'...
676  676,shanghai-21-new-york-2,"[{'alias': 'shangh...
677  677,memes-diner-brooklyn,"[{'alias': 'diners',...
678  678,dosa-hutt-flushing,"[{'alias': 'indpak', '...
679  679,ugly-baby-brooklyn-3,"[{'alias': 'thai', '...
680  680,the-hummus-and-pita-new-york-4,"[{'alias':...
681  681,the-grey-dog-new-york-5,"[{'alias': 'break...
682  682,stanleys-pierogi-ridgewood,"[{'alias': 'go...
683  683,cheeky-sandwiches-new-york,"[{'alias': 'sa...
684  684,elephant-and-castle-new-york,"[{'alias': '...
685  685,diner-brooklyn,"[{'alias': 'diners', 'titl...
686  686,taim-nolita-new-york,"[{'alias': 'falafel'...
687  687,ix-restaurant-brooklyn-3,"[{'alias': 'coff...
688  688,oddfellows-ice-cream-co-dumbo-3,"[{'alias'...
689  689,the-roof-brooklyn,"[{'alias': 'newamerican...
690  690,district-saigon-astoria,"[{'alias': 'vietn...
691  691,the-shakespeare-new-york,"[{'alias': 'pubs...
692  692,market-crates-new-york,"[{'alias': 'sandwi...
693  693,distilled-new-york,"[{'alias': 'newamerica...
694  694,l-accolade-new-york,"[{'alias': 'french', ...
695  695,boulud-sud-new-york,"[{'alias': 'mediterra...
696  696,tasty-hand-pulled-noodles-new-york,"[{'ali...
697  697,arepera-guacuco-bed-stuy-brooklyn,"[{'alia...
698  698,westville-hudson-new-york,"[{'alias': 'tra...
699  699,e-a-k-ramen-new-york-3,"[{'alias': 'ramen'...

[700 rows x 1 columns]

In [22]:
# df_vegan_NY

In [51]:
df_vegan_NY = pd.DataFrame(df_vegan_NY_csv , columns  = [[ 'name' , 'price', 'rating']])

In [52]:
df_vegan_NY.head()

  name price rating
0  NaN   NaN    NaN
1  NaN   NaN    NaN
2  NaN   NaN    NaN
3  NaN   NaN    NaN
4  NaN   NaN    NaN